{% extends 'base.html' %}
{% load static %}

{% block title %}Trang chủ - DUE Social{% endblock %}

{% block content %}

<!-- Hiển thị bài viết -->
<div class="flex justify-center">
    <div class="max-w-2xl w-full">
        {% if activities %}
             <p class="mb-2 text-gray-600">Hoạt động gần đây</p>
            {% for activity in activities %}
                {% include 'Extracurr_detail.html' %}
            {% endfor %}
        {% else %}
            <p class="text-gray-500 text-center">Hiện chưa có hoạt động ngoại khóa nào.</p>
        {% endif %}
    </div>
</div>

 <!-- Nội dung của sidebar -->
{% include 'Extracurr_sideBar.html' %}
{% endblock %}