<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="bg-white rounded-lg shadow-md p-4 mb-4">
        <div class="flex justify-between items-start mb-3">
            <div class="flex items-center space-x-3">
                <div class="w-10 h-10 bg-gray-100 rounded-full flex items-center justify-center">
                    <img src="https://i.pravatar.cc/24" class="rounded-full w-6 h-6" alt="avatar">
                </div>
                <div>
                    <h4 class="font-semibold">{{ activity.nguoi_tao.ho_ten }}</h4>
                    <p class="font-semibold text-gray-500 text-sm">Hoạt động ngoại khoá <span>• {{so_luong_dk}} người sẽ tham gia</span></p>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <h4 class="font-semibold mb-2">{{ activity.ten_hd_nk }}</h4>
            <p class="mb-2">✨ Quyền lợi: {{ activity.get_quyen_loi_display }} ngoại khoá mục {{ activity.muc}}</p>
            <p class="mb-2">📅 Thời gian: {{ activity.thoi_gian }}</p>
            <p class="mb-2">📍 Địa điểm: {{ activity.dia_diem }}</p>
            <p class="mb-2">👥 Số lượng: {{ activity.so_luong }}</p>
            <p class="mb-4">📝 Thông tin chi tiết: {{ activity.thong_tin_chi_tiet }}</p>

           <div class="flex justify-center">
              <form method="POST" action="">
                  {% csrf_token %}
                  <input type="hidden" name="ma_hd_nk" value="{{ activity.id }}">
                  <button type="submit" class="bg-green-500 text-white font-bold py-2 px-4 rounded-lg flex items-center hover:bg-green-600 transition">
                      <i class="fas fa-star mr-2"></i> Đăng ký tham gia
                  </button>
              </form>
          </div>

        </div>

    </div>
</body>
</html>