{% extends 'social/group.html' %}

{% load static %}

{% block content %}
<div class="w-full lg:w-3/5 xl:w-3/5 px-10 ml-72">
    <div class="w-full space-y-6 pl-8 pr-8 bg-gray-50">
        <h2 class="text-3xl font-bold text-gray-800">Nhóm bạn làm quản trị viên</h2>
        <div class="bg-white p-6 rounded-lg shadow-md">
            <div class="space-y-4">
                {% for tv in nhom_lam_qtrivien %}
                <div class="flex items-center justify-between p-4 bg-gray-100 rounded-lg hover:bg-gray-200 transition duration-300">
                    <div class="flex items-center space-x-4">
                        <img src="{% static 'image/Nhom/nhom1.png' %}" alt="Avatar" class="rounded-full w-12 h-12">
                        <span class="text-lg text-gray-800">{{ tv.ma_nhom.ten_nhom }}</span>
                    </div>
                    <button class="bg-green-300 text-gray-700 px-4 py-2 rounded-lg hover:bg-gray-400 transition duration-300" onclick="window.location.href='{% url 'chi_tiet_nhom_qtrivien' ma_nhom=tv.ma_nhom.id %}'">Xem nhóm</button>
                </div>
                {% empty %}
                <p class="text-gray-500">Bạn chưa làm quản trị viên nhóm nào.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}